@import "../../styles/utilities";

.form--auth--container {
   margin-top: 40px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.input--form {
   font-size: 0.9rem;

   > input {
      outline: 0.7px solid rgba(0, 0, 0, 0.3);
      padding: 6px 9px;
      border-radius: 4px;
   }
}
